$green-color: rgba(92, 184, 95, 1);

.navmenu{
    background-color: rgba(241, 243, 255, 1) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.btn-success{
    background-color: $green-color !important;
    border-color: $green-color !important;
}