.list-our li{
    list-style: none;
    margin-bottom: 16px;
}

.sewa .container{
    background-color: rgba(13, 40, 166, 1);
    height: 326px
}

.sewa .container h2{
    font-size: 36px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.sewa .container p{
    margin-bottom: 52px;
    padding-left: 410px;
    padding-right: 420px;
}


.sewa .container .btn{
    margin: auto;
    max-width: 170px;
}

.mt-100{
    margin-top: 100px;
}

.btn-hire{
    position: absolute;
    left: 300px;
    top: 406px;
}