$green-color: rgba(92, 184, 95, 1);

.home {
    background-color: rgba(241, 243, 255, 1);
    position: relative;
}

.btn-success{
    background-color: $green-color !important;
    border-color: $green-color !important;
}

.car-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.py-100 {
  padding-top: 8em;
  padding-bottom: 8em;
}