
.card-content {
    max-width: 619px;
    height: 270px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: rgba(241, 243, 255, 1);
}

.fw-400{
    font-weight: 500;
}
