.mt-40s{
    margin-top: 40%;
}

.forminput{
    width: 100%;
    height: 106px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}